<div>
	<style>
		.taskList {
			background-color: lightblue;
			height: 30em;
			width: 18em;
			overflow-y: auto;
			margin-left: 5px;
		}
		.board {
			width: 100%;
			height: 30em;
			overflow-x: auto;
			overflow-y: hidden;
		}
		.list-inline {
			white-space: nowrap
		}
	</style>
	<div>
		<h2>
			<span class="btn-group pull-right">
				<button type="submit" ui-sref="project-detail" class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-arrow-left"></span>
				</button>
		        <button type="button" class="btn btn-success btn-sm" ui-sref="board-detail.list-new">
		        	<span class="glyphicon glyphicon-plus"></span>
		        </button>
			</span>
			<span>Board</span> {{vm.board.name}} for project {{vm.projectName}}
		</h2>
	</div>
	<div class="board">
		<ul class="list-inline">
			<li class="taskList well well-sm" ng-repeat="taskList in vm.board.taskLists | orderBy: 'id'">
				<h3>
					<span class="btn-group pull-right">
	        			<button type="button" class="btn btn-primary btn-sm" ui-sref="board-detail.list-edit({taskListId:taskList.id})" >
	        				<span class="glyphicon glyphicon-pencil"></span>
	        			</button>
	        			<button type="button" class="btn btn-success btn-sm" ui-sref="board-detail.task-new({taskListId:taskList.id})" >
	        				<span class="glyphicon glyphicon-plus"></span>
	        			</button>
					</span>
					<span>{{taskList.name}}</span>
				</h3>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="task in taskList.tasks | orderBy: 'id'">
						<div>
							<button ui-sref="board-detail.task-edit({taskListId: taskList.id, taskId: task.id})"
								class="btn btn-primary btn-xs pull-right">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<span style="overflow:hidden">{{task.name}}</span>
						</div>
					</li>
				</ul>
			</li>
		</ul>	
	</div>
</div>