<div>

    <h2>
    	Your projects
		<span class="btn-group pull-right">
			<button type="button" class="btn btn-sm btn-info" ui-sref="home"><span class="glyphicon glyphicon-arrow-left"></span></button>
	        <button type="button" class="btn btn-sm btn-success" ui-sref="projects.new" ><span class="glyphicon glyphicon-plus"></span></button>
		</span>
	</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-12">Project Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in vm.projects | orderBy: 'name'">
                <td><span class="text-capitalize">{{ project.name }}</span></td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="project-detail({projectId:project.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="projects.edit({projectId:project.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                class="btn btn-danger btn-sm" ng-click="vm.deleteProject(project)">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span></button>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
