<div>
    <style>
        textarea { resize:vertical; }
    </style>
	<h2>
		<span>Project</span> {{vm.project.name}}
	</h2>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Field</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span>Project Name</span></td>
					<td><input type="text" class="input-sm form-control"
						value="{{vm.project.name}}" readonly></td>
				</tr>
				<tr>
					<td><span>Project Members Count</span></td>
					<td><input type="text" class="input-sm form-control"
						value="{{vm.project.membersCount}}" readonly></td>
				</tr>
			</tbody>
		</table>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Members
				</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in vm.project.users">
				<td>{{user}}</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					<span>Boards</span>
				</th>
				<th>
					<button type="button" ui-sref="board-new"
						class="btn btn-success btn-sm pull-right">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="board in vm.project.boards">
				<td>{{board.name}}</td>
				<td>
					<div class="pull-right">
						<button type="button" ui-sref="board-detail({boardId:{{board.id}}})"
							class="btn btn-info btn-sm" style="float:right">
							<span class="glyphicon glyphicon-eye-open"></span>
						</button>
						<button type="button" ui-sref="board-edit({boardId: board.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea readonly class="form-control" rows="5" id="description" >{{vm.project.description}}</textarea>
    </div>

	<div>
		<button type="submit" ui-sref="projects" class="btn btn-info">
			<span class="glyphicon glyphicon-arrow-left"></span>&nbsp; <span>
				Back </span>
		</button>
	</div>
</div>
