<div>
    <style>
        textarea { resize:vertical; }
    </style>
	<h2>
		<span>Project</span> {{vm.project.name}}
	</h2>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Field</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span>Project Name</span></td>
					<td><span style="height:100%; display:block; overflow:auto" class="text-info">{{vm.project.name}}</span></td>
				</tr>
				<tr>
					<td><span>Project Members Count</span></td>
					<td><span style="height:100%; display:block; overflow:auto" class="text-info">{{vm.project.membersCount}}</span></td>
				</tr>
			</tbody>
		</table>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Members
				</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in vm.project.users">
				<td><span style="height:100%; display:block; overflow:auto" class="text-info">{{user}}</span></td>
			</tr>
		</tbody>
	</table>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Boards</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="board in vm.project.boards">
				<td><span style="height:100%; display:block; overflow:auto" class="text-info">{{board.name}}</span></td>
				<td>
					<button type="button" ui-sref="board-detail({id:{{board.id}}})"
						class="btn btn-info" style="float:right">
						<span>Details</span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

    <div class="form-group">
        <label for="description">Description</label>
        <span style="height:100%; display:block; overflow:auto" class="text-info" id="description" >{{vm.project.description}}</span>
    </div>

	<div>
		<button type="submit" ui-sref="projects" class="btn btn-info">
			<span class="glyphicon glyphicon-arrow-left"></span>&nbsp; <span>
				Back </span>
		</button>
	</div>
</div>
